one {
  font-family: 'Uni Sans CAPS';
  & articlename {
      font-weight: bold;
      font-size: 64;
  }
}

articletype {
  font-weight: normal;
  font-size: 32;
  font-style: italic;
}

body {
  margin: 0;
  animation: color-animation 30s ease-in-out infinite;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 64;
}

@keyframes color-animation {
  0% {
    background: #0f0f0f;
  }
  25% {
    background: #6495ed;
  }
  50% {
    background: #404;
  }
  75% {
    background: #6495ed;
  }
  100% {
      background: #0f0f0f;
  }
}

logo {
  font-family: "Montserrat";
  font-weight: bold;
  letter-spacing: 5px;
  position: absolute;
  bottom: 20px;
  right: 37.5px;
}

html {
  padding: 20px 40px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

pronunciation {
  font-family: "Times New Roman", "Arial", "Courier New", "Segoe UI";
  font-size: 24px;
}

hr {
    width: 100%;
    margin: 15px 0 25px;
}

span, li, li::marker {
  font-size: 24px;
}

ol {
  margin: 10px 0px 25px;
}

ol:nth-of-type(2) {
  font-weight: bold;
}