:root {
    --notquiteblack: #0F0F0F;
    --notquitewhite: #F0F0F0;
    --color-cfb: cornflowerblue;
    --color-cnf: #404;
    --color-blurple-light: #5865F2;
    --color-blurple-dark: #454FBF;
    --discordlightgray: #313338;
    --discorddarkgray: #2a2d31;
    --discordtext: #b3bac1;
}

body {
    margin: 0;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}

header-item.logo-x {
    padding: 0 2.5px;
    font-family: "Montserrat";
    font-weight: bold;
}

header-item#logo-name {
    font-family: "Uni Sans CAPS", "Corporate Logo ver2";
    font-weight: bold;
    font-size: 32px;
    transition: width 0.5s cubic-bezier(0.65, 0.05, 0.4, 1) 0s;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

header:hover>header-item {
    font-size: 32px
}

header:not(:hover)>header-item.logo-x {
    font-size: 50px;
}

header:not(:hover)>header-item#logo-name {
    width: 0px;
}

header:hover>header-item#logo-name:lang(fil), header:hover>header-item#logo-name:lang(en) {
    width: 160px;
}

header:hover>header-item#logo-name:lang(sk) {
    width: 180px;
}

header:hover>header-item#logo-name:lang(jp) {
    width: 100px;
}

header {
    top: 0px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header, footer {
    transition: background-color 0.5s cubic-bezier(0.65, 0.05, 0.4, 1) 0s;
}

header header-item {
    transition: font-size 0.5s cubic-bezier(0.65, 0.05, 0.4, 1) 0s;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: var(--notquiteblack);
        color: var(--notquitewhite);
        --bottagbg: var(--color-blurple-dark);
    }

    header:not(:hover), footer:not(:hover) {
        background-color: var(--notquiteblack);
        color: var(--notquitewhite);
    }

    header:hover, footer:hover {
        background-color: var(--color-cnf);
        color: var(--notquitewhite);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: var(--notquitewhite);
        color: var(--notquiteblack);
        --bottagbg: var(--color-blurple-light);
    }

    header:not(:hover), footer:not(:hover) {
        background-color: var(--notquitewhite);
        color: var(--notquiteblack);
    }

    header:hover, footer:hover {
        background-color: var(--color-cfb);
        color: var(--notquiteblack);
    }
}

section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

sectiontitle {
    font-family: "Uni Sans CAPS";
    font-weight: bold;
    font-size: 64;
}

sectiontext {
    font-family: "Uni Sans CAPS";
    font-size: 16;
}

profilessection {
    padding: 45px 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    color: var(--notquitewhite) !important;
}

profile {
    width: 160px;
    display: flex;
    height: fit-content;
    background-color: var(--discordlightgray);
    border-radius: 15px;
    margin: 15px;
    transition: transform 0.25s cubic-bezier(0.65, 0.05, 0.4, 1) 0s;
    padding: 55px 45px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
}

profile:hover {
    transform: scale(1.125);
}

hr {
    width: 100%;
    height: 0px;
    margin: 0;
    border: 0;
}

img.pfp {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 15px;
}

profilename {
    font-size: 16px;
}

profile#botprofile {
    height: 180px;
}

profile#botprofile profilename::after {
    content: "BOT";
    background-color: var(--bottagbg);
    font-size: 12px;
    padding: 2px 3px;
    border-radius: 3px;
    margin-left: 3px;
    align-self: center;
    position: relative;
    top: -1.5px;
}

section#socials>socialcard {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

section#socials {
    padding: 0;
    width: 100%;
    height: 258px;
    display: flex;
    flex-direction: row;
}

socialcard#socialsgithub {
    background: linear-gradient(270deg, #000 0%, var(--notquiteblack) 100%);
}

socialcard#socialsdiscord {
    background: linear-gradient(90deg, var(--color-blurple-dark) 0%, var(--color-blurple-light) 100%);
}

socialcard>img {
    height: 40px;
    margin-bottom: 40px;
}

div#githublogo {
    height: 50px;
    filter: invert(1) brightness(2);
    display: flex;
    align-items: center;
    flex-direction: row;
}

div#githublogo>img#gitoctocat {
    height: 100%;
    margin-right: 5px;
}

div#githublogo>img#gittextlogo {
    height: 66.6%;
    margin-left: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    white-space: break-spaces;
    text-transform: uppercase;
}

img#heartemoji {
    height: 15px;
    top: 1.5px;
    position: relative;
    animation: pulse 0.9375s linear 0s infinite normal;
}

section:last-of-type {
    margin-bottom: 50px;
}

footer span:not(:last-of-type)::after {
    content: " · "
}

@keyframes pulse {
    0% {
        transform: scale(1)
    }
    5% {
        transform: scale(1.25)
    }
    25% {
        transform: scale(1)
    }
    35% {
        transform: scale(1.25)
    }
    60% {
        transform: scale(1)
    }
}