body {
    display: flex;
    justify-content: center;
    align-items: center;
}

header-item.logo-x {
    padding: 0 10px;
    font-family: "Montserrat";
    font-weight: bold;
}

header-item#logo-name {
    font-family: "Uni Sans CAPS";
    font-weight: bold;
    font-size: 64px;
    transition: width 0.5s cubic-bezier(0.65, 0.05, 0.4, 1) 0s;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

header:hover>header-item {
    font-size: 64px
}

header:not(:hover)>header-item.logo-x {
    font-size: 100px;
}

header:not(:hover)>header-item#logo-name {
    width: 0px;
}

header:hover>header-item#logo-name {
    width: 320px;
}

header {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header header-item {
    transition: font-size 0.5s cubic-bezier(0.65, 0.05, 0.4, 1) 0s;
}

