:root {
    --notquiteblack: #0F0F0F;
    --notquitewhite: #F0F0F0;
    --color-cfb: cornflowerblue;
    --color-cnf: #404;
    --color-blurple-light: #5865F2;
    --color-blurple-dark: #454FBF;
}

@keyframes circle-in-center {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(125%);
    }
  }

body {
    margin: 0;
}

header-item.logo-x {
    padding: 0 5px;
    font-family: "Montserrat";
    font-weight: bold;
}

header-item#logo-name {
    font-family: "Uni Sans CAPS";
    font-weight: bold;
    font-size: 32px;
    transition: width 0.5s cubic-bezier(0.65, 0.05, 0.4, 1) 0s;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

header:hover>header-item {
    font-size: 32px
}

header:not(:hover)>header-item.logo-x {
    font-size: 50px;
}

header:not(:hover)>header-item#logo-name {
    width: 0px;
}

header:hover>header-item#logo-name {
    width: 160px;
}

header {
    top: 0px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center;
    width: 100%;
}

header header-item {
    transition: font-size 0.5s cubic-bezier(0.65, 0.05, 0.4, 1) 0s;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #0F0F0F;
        color: var(--notquitewhite);
    }

    header:not(:hover) {
        background-color: #0F0F0F;
        color: var(--notquitewhite);
    }

    header:hover {
        background-color: var(--color-cnf);
        color: var(--notquitewhite);
    }
}